// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

#answer1, #answer2, #answer3, #answer4 {
  display: none;
}

#answer1, #answer2, #answer3, #answer4 {
  &:target {
    display: inherit;
  }
}

.subscribe-form {
  padding-top: 2em;
  padding-left: 55px;
  padding-right: 55px;

  input, button {
    border-radius: 6px;
    border: 1px solid #999;
    font-size: 18px;
    line-height: 1.33;
    padding: 10px 16px;
    margin-bottom: 5px;
  }

  button {
    background-color: $rubycheck-color-base;
    border-color: $rubycheck-color-base;
    color: #ffffff;
    &:hover {
      background-color: lighten($rubycheck-color-base, 15);
      border-color: lighten($rubycheck-color-base, 15);
    }
  }
}

#blog-archives .entry-content {
  display: inherit;
}