// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

#answer1, #answer2, #answer3, #answer4 {
  display: none;
}

#answer1, #answer2, #answer3, #answer4 {
  &:target {
    display: inherit;
  }
}

.subscribe-form {
  padding-top: 2em;
  padding-left: 55px;
  padding-right: 55px;
}

#blog-archives .entry-content {
  display: inherit;
}